*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#root {
  max-height: 100vh;
  max-width: 100vw;
  text-overflow: ellipsis;
  overflow: hidden;
}
body {
  overflow: hidden;
}
